.banner-ratio {
    aspect-ratio: 2;
}

@media (max-width: 1000px) {
    .banner-ratio {
        aspect-ratio: 1;
    }
}
@media (max-width: 600px) {
    .banner-ratio {
        aspect-ratio: 0.51;
    }
}
.carousel-indicator {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicator.active {
    background-color: #FFA500 !important;
}
