/* Дефолтное соотношение для десктопов */
.banner-ratio {
    aspect-ratio: 2;
}

/* Изменение соотношения сторон на мобильных устройствах */
@media (max-width: 768px) {
    .banner-ratio {
        aspect-ratio: 9 / 16;
    }
}

.carousel-indicator {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicator.active {
    background-color: #FFA500 !important;
}
