:root {
    --main-color: #FFA500;
    --background-color: #1c1c1c;
    --hover-color: #ffcc66;
    --text-color: #FFA500;
    --secondary-background: #222;
    --font-size: 16px;
    --button-bg-color: #FFA500;
    --button-text-color: #000;
    --button-hover-bg-color: #ffcc66;
    --border-color: #FFA500;
    --focus-border-color: #ffcc66;
    --input-bg-color: #333;
    --input-focus-bg-color: #2a2a2a;
}

.user-profile {
    max-width: 1000px;
    color: var(--main-color);
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--main-color);
    font-family: Namu, sans-serif;
    margin-top: 20px;
}

.label-profile {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--main-color);
}

.profile-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.user-image {
    margin-right: 20px;
}

.user-image img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2px solid var(--main-color);
}

.form-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.logout-button, .cancel-button, .save-button {
    width: 100%;
    max-width: 200px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}
.save-button:disabled {
    background-color: var(--input-bg-color);
}
.logout-button:hover, .cancel-button:hover, .save-button:hover {
    background-color: var(--button-hover-bg-color);
}

.form-control {
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: #222;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.form-control:focus {
    background-color: var(--input-focus-bg-color);
    color: var(--text-color);
    outline: none;
}

.form-row {
    display: flex;
    gap: 20px;
    padding: 10px 0;
}
.section-title {
    font-size: 22px;
}
.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group.full-width {
    width: 100%;
}

.error-text {
    padding: 4px 0 0 0;
    color: #fd7e14;
    font-size: 0.8rem;
}
.error-text-margin-minus {
    margin: 4px 0 -7px 0;
}
.orders-section .table-bordered {
    border: 1px solid var(--main-color) !important;
}

.orders-section .table th, .orders-section .table td {
    border: 1px solid var(--main-color) !important;
    text-align: center;
    padding: 12px;
}

.orders-section .table thead th {
    background-color: var(--main-color);
    color: var(--button-text-color);
    font-weight: bold;
}

.orders-section .table tbody tr {
    background-color: var(--background-color);
    transition: background-color 0.3s;
}

.orders-section .table tbody tr:hover {
    background-color: var(--background-color);
}

.orders-section .table tbody td {
    background-color: var(--background-color);
    color: var(--text-color);
}

.orders-section .table tbody td .btn-info {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.orders-section .table tbody td .btn-info:hover {
    background-color: var(--button-hover-bg-color);
    transform: scale(1.05);
}

.modal-content {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--main-color);
    border-radius: 8px;
    font-family: Namu, sans-serif;
}

.modal-header {
    border-bottom: 1px solid var(--main-color);
}

.modal-header .modal-title {
    color: var(--main-color);
    font-weight: bold;
}

.modal-header .btn-close {
    background-color: transparent;
    border: none;
    color: var(--main-color);
}

.modal-header .btn-close:hover {
    color: var(--hover-color);
}

.modal-body {
    color: var(--text-color);
}

.modal-body h5 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-body p {
    margin-bottom: 8px;
}

.modal-body hr {
    border-top: 1px solid var(--main-color);
}

.modal-body .table {
    color: var(--text-color);
    background-color: var(--background-color);
    border: 1px solid var(--main-color);
    border-radius: 4px;
    margin-bottom: 0;
}

.modal-body .table thead th {
    background-color: var(--main-color);
    color: var(--button-text-color);
    text-align: center;
    font-weight: bold;
}

.modal-body .table tbody tr {
    background-color: var(--background-color);
}

.modal-body .table tbody tr:hover {
    background-color: var(--background-color);
}

.modal-body .table tbody td {
    text-align: center;
    padding: 12px;
    border: 1px solid var(--main-color);
    color: var(--text-color);
    background-color: var(--background-color);
}

.modal-footer {
    border-top: 1px solid var(--main-color);
    display: flex;
    justify-content: flex-end;
}

.modal-footer .btn-secondary {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.modal-footer .btn-secondary:hover {
    background-color: var(--button-hover-bg-color);
    transform: scale(1.05);
}

.form-select {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 10px;
    font-size: 1em;
    font-family: Namu, sans-serif;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.form-select:focus {
    background-color: var(--input-focus-bg-color);
    color: var(--text-color);
    border-color: var(--focus-border-color);
    outline: none;
    box-shadow: none;
}

.form-select option {
    background-color: var(--background-color);
    color: var(--text-color);
}

@media (max-width: 600px) {
    .user-profile {
        padding: 10px;
        margin-top: 10px;
    }

    .profile-content {
        flex-direction: column;
        align-items: center;
    }

    .user-image img {
        width: auto;
        height: auto;
        max-width: 100%;
    }

    .form-row {
        flex-direction: column;
    }

    .form-group {
        width: 100%;
    }

    .orders-section .table th,
    .orders-section .table td {
        font-size: 12px;
        padding: 8px;
    }

    .orders-section .table thead th {
        font-size: 14px;
    }

    .orders-section .table tbody td .btn-info {
        padding: 5px 10px;
        font-size: 12px;
    }

    .modal-content {
        width: 90%;
        margin: auto;
    }

    .profile-sections,
    .profile-form {
        width: 100%;
    }

    .profile-sections {
        padding: 10px;
    }

    .form-buttons .btn {
        max-width: none;
    }

    .form-group {
        width: 100%;
    }

    .profile-header,
    .profile-sections,
    .form-buttons {
        padding: 0px 10px 0px 10px;
        width: 100%;
    }
}

@media (max-width: 375px) {
    .modal-content {
        padding: 10px;
    }

    .modal-header, .modal-footer {
        padding: 8px;
    }

    .modal-title {
        font-size: 1.2rem;
    }

    .table th, .table td {
        font-size: 12px;
        padding: 6px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 12px;
    }

    .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
