.toggle-buttons-container {
    display: flex;
    gap: 10px;
}

.toggle-button {
    padding: 10px 20px;
    border: 1px solid #FFA500;
    background-color: #333;
    color: #FFA500;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.toggle-button.active {
    background-color: #FFA500;
    color: black;
    border-color: #FFA500;
}

.toggle-button:not(.active):hover {
    color: white   ;
}
