.navbar {
    background-color: #1a1a1a;
}

.navbar-brand {
    color: #FFA500 !important;
}

.text-orange {
    color: #FFA500 !important;
}
.btn-outline-orange {
    border-color: #FFA500;
    color: #FFA500;
}

.btn-outline-orange:hover {
    background-color: #FFA500;
    color: #1a1a1a;
}

.bg-dark {
    background-color: #1a1a1a !important;
}

.bg-orange {
    background-color: #FFA500 !important;
    color: #1a1a1a !important;
}

.border-bottom-orange {
    border-bottom: 2px solid #FFA500;
}

.border-orange {
    border-color: #FFA500 !important;
}

.dropdown-menu {
    padding: 10px 10px 10px 10px;
    background-color: #1a1a1a !important;
}

.nav-link {
    color: #FFA500 !important;
}

.nav-link:hover {
    outline-color: #e59400 !important;
}
.cart-button-in-drawer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cart-button-in-drawer .btn {
    width: 100%;
    max-width: 200px;
}
.navbar-collapse .d-flex {
    margin-bottom: 1rem;
}

.nav-link {
    text-decoration: none;
}

.navbar-collapse .btn {
    display: inline-flex;
    align-items: center;
}

.btn:hover,
.dropdown-item:hover {
    outline: none;
    border: 2px solid #FFA500;
    background-color: inherit;
    color: inherit;
}
.btn:active,
.dropdown-item:active {
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #FFA500;
}
.nav-link:hover {
    color: #e59400 !important;
}