.admin-page {
    padding: 20px;
}

.admin-nav {
    list-style-type: none;
    padding: 0;
}

.admin-nav li {
    margin: 10px 0;
}

.admin-nav a {
    text-decoration: none;
    font-size: 18px;
    color: #FFA500;
}

.admin-nav a:hover {
    text-decoration: underline;
}
